body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px 100px; /* Diminui o padding para tornar a barra mais fina */
}

.barra-grid .titulo h1{
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao texto */
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo a,
.titulo a:visited {
    color: #333;
    text-decoration: none;
}

.titulo h1 {
    font-size: 24px; /* Ajusta o tamanho da fonte do título */
    margin: 0;
}

.produtos, .contato {
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos a, .contato a {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.produtos a:hover, .contato a:hover {
    color: #007BFF;
    transform: scale(1.1);
}

.imagem-central {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.imagem-central img {
    width: 900px;
    margin-top: 220px;
}

.fraseimpacto h1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
}

.grid-produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 90px;
}

@media (min-width: 768px) {
    .grid-produtos {
        grid-template-columns: repeat(4, 1fr);
    }
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.produto img {
    width: 100%;
    border-radius: 10px;
    max-height: 200px;
    object-fit: contain;
}

.produto h2 {
    font-size: 24px;
    margin: 10px 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

.produto h2:hover {
    color: #007BFF;
    transform: scale(1.1);
}

.produto p {
    font-size: 16px;
    color: #555;
}

.frasefinal h1 {
    font-family: 'Poppins', Light;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.informacoes-contato {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.info {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.info h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.info p {
    margin: 7px 0; /* Ajusta a margem vertical dos parágrafos */
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}

.container #formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
